<template>
  <div>
    <el-row>
      <el-tag>Preset Template</el-tag>
      <el-select
        v-model="ciTplChoiceBeforeConfirm"
        placeholder="Select Template"
        style="width: 320px"
        @change="tplOptionChanged()"
      >
        <el-option
          v-for="item in ciTplOptions"
          :key="item.value"
          :label="item.label"
          :value="item.value"
        />
      </el-select>
    </el-row>
    <!-- <el-row>
      <el-button @click="generateYaml">Generate Yaml</el-button>
    </el-row> -->
    <el-row>
      <el-col :span="2">
        <h3>Step Template</h3>
        <draggable
          class="dragArea list-group"
          :list="stepTplList"
          :group="{ name: 'people', pull: 'clone', put: false }"
          :clone="cloneTemplate"
          @change="log"
        >
          <el-card
            v-for="element in stepTplList"
            :key="element.id"
            class="list-group-item"
          >{{ element.name }}</el-card>
        </draggable>
      </el-col>

      <el-col :span="12">
        <h3>Steps</h3>

        <draggable
          tag="el-collapse"
          :list="stepList"
          group="people"
          :component-data="collapseComponentData"
          :disabled="editFocused"
        >
          <el-collapse-item
            v-for="element in stepList"
            :key="element.id"
            :title="element.name"
            :name="`${element.name}${element.id}`"
          >
            <template slot="title">
              {{ element.name }}
              <i v-if="element.name !== 'default'" class="header-icon el-icon-edit" style="color:blue" @click="changeName(element.id)" />
              <i class="header-icon el-icon-delete" style="color:red" @click="deleteStep(element.id)" />
            </template>
            <StepCI :key="`${ciTplChoice}${element.id}`" :element="element" :name="element.name" />
          </el-collapse-item>
        </draggable>

        <el-drawer
          title="Change the Step Name"
          :visible.sync="stepNameDrawer"
          direction="rtl"
          :before-close="handleClose"
        >
          <el-form :model="chosenElement" @submit.native.prevent>
            <el-form-item label="Name" :label-width="formLabelWidth">
              <el-input v-model="chosenElement.name" autocomplete="off" />
            </el-form-item>
          </el-form>
        </el-drawer>
      </el-col>

      <el-col :span="10">
        <h3>Script</h3>
        <!-- TODO: Add code-mirror -->
        <codemirror
          v-model="finalScript"
          name="finalScript"
          :options="finalScriptOptions"
        />
        <el-button
          v-clipboard:copy="finalScript"
          v-clipboard:success="onCopy"
          v-clipboard:error="onError"
        >
          Copy Script
        </el-button>
      </el-col>

    </el-row>
  </div>
</template>

<script>
import { myEventBus } from '@/main'
import draggable from 'vuedraggable'
import yaml from 'js-yaml'
import { codemirror } from 'vue-codemirror'
import 'codemirror/lib/codemirror.css'
import 'codemirror/theme/dracula.css'
import 'codemirror/mode/yaml/yaml.js'

import { deepClone } from '@/utils/util.js'

import StepCI from './StepCI.vue'

import { stepTplList } from './templates/index.js'
import { mavenTpl, npmTpl, bashTpl, pythonTpl } from './templates/common.js'

const languageTplList = new Map()
languageTplList.set('maven', mavenTpl)
languageTplList.set('npm', npmTpl)
languageTplList.set('bash', bashTpl)
languageTplList.set('python', pythonTpl)

const ciTplOptions = [
  { value: 'empty', label: 'empty' },
  { value: 'maven', label: 'maven' },
  { value: 'npm', label: 'npm' },
  { value: 'bash', label: 'bash' },
  { value: 'python', label: 'python' }
]
const splitByNewline = ['ciscript', 'cibefore_script', 'ciafter_script']
const splitByComma = ['citags', 'cionly', 'ciexcept']
const splitByCommaToRawList = ['cineeds']
const alreadyListNoSplit = ['cidependencies']

export default {
  name: 'CustomClone',
  display: 'Custom Clone',
  order: 3,
  components: {
    draggable,
    codemirror,
    'StepCI': StepCI
  },
  data() {
    return {
      languageTplList,
      ciTplOptions,
      stepTplList, // stage, image, script, artifacts, only, except, tags, retry, variables, before_script
      splitByNewline,
      splitByComma,
      splitByCommaToRawList,
      alreadyListNoSplit,
      idGlobal: 0,
      ciTplChoiceBeforeConfirm: 'empty',
      ciTplChoice: 'empty',
      currentStep: {},
      detailValues: '请选定需更改的步骤',
      stepList: [
        // { name: 'dummy', id: 5 }
      ],
      stepListChanged: false,
      activeNames: [1],
      collapseComponentData: {
        on: {
          input: this.inputChanged
        },
        props: {
          value: this.activeNames
        }
      },
      editFocused: false,
      finalScript: '',
      stepNameDrawer: false,
      formLabelWidth: '80px',
      chosenElementId: -1,
      chosenElement: {},
      finalScriptOptions: {
        tabSize: 2,
        mode: 'yaml',
        theme: 'dracula',
        gutters: ['CodeMirror-lint-markers'],
        lineNumbers: true,
        lineWrapping: true,
        extraKeys: { Ctrl: 'autocomplete' },
        lineWiseCopyCut: true,
        showCursorWhenSelecting: true,
        matchBrackets: true,
        line: true,
        lint: true,
        readOnly: true
      }
    }
  },
  watch: {
    stepList() {
      // console.log('Reassign id for each step')
      for (let i = 0; i < this.stepList.length; i++) {
        this.stepList[i].id = i
      }
      // console.log('(from GitlabCI.vue watch())Step list changed to ', this.stepList)
      // DONE: 在<StepCI>中的component位置加上了key以自动刷新
      this.generateYaml()
    }
  },
  created() {
    myEventBus.$on(['childDataUpdate'], (propName, stepid, newValue) => {
      this.stepList[stepid].content[propName] = newValue
      // console.log('(from eventBus)new stepList is:', this.stepList)
      this.editFocused = false
      this.generateYaml()
    })
    myEventBus.$on(['childDataDelete'], (propName, stepid) => {
      delete this.stepList[stepid].content[propName]
      // only changing a value won't change an Object, we use deepClone here to forcefully change the obj
      this.stepList = deepClone(this.stepList)
      // console.log('(from eventBus)new stepList is:', this.stepList)
      this.editFocused = false
      this.generateYaml()
    })
    myEventBus.$on(['childDataCreate'], (propName, stepid) => {
      if (this.stepList[stepid].content[propName] !== undefined) {
        // console.log('Property already existed. Cease changes')
        this.propertyAlreadyExistedNotification(propName.substring(2))
      } else {
        this.stepList[stepid].content[propName] = null
        this.stepList = deepClone(this.stepList)
        // console.log('(from eventBus)new stepList is:', this.stepList)
        this.editFocused = false
        this.generateYaml()
      }
    })
    // This is for temp disable the draggable when editing a child component
    // https://github.com/SortableJS/Vue.Draggable/issues/486
    myEventBus.$on(['childEditFocused'], () => {
      this.editFocused = true
    })
  },
  methods: {
    templateChangeStepList() {
      const ciTemplate = this.languageTplList.get(this.ciTplChoice)
      console.log('current ci template is: ', ciTemplate)
      if (ciTemplate) {
        this.stepList = deepClone(ciTemplate)
      } else {
        this.stepList = [] // undefined
      }
    },
    tplOptionChanged() {
      this.$alert('All current content will be lost!', 'Confirm Change Template?', {
        confirmButtonText: 'Confirm',
        callback: action => {
          if (action === 'confirm') {
            this.ciTplChoice = this.ciTplChoiceBeforeConfirm
            console.log('ciTplChoice changed to: ', this.ciTplChoice)
            this.templateChangeStepList()
          } else {
            this.ciTplChoiceBeforeConfirm = this.ciTplChoice
          }
          this.$message({
            type: 'info',
            message: `action: ${action}`
          })
        }
      })
    },
    inputChanged(val) {
      this.activeNames = val
    },
    log: function(evt) {
      window.console.log(evt)
      console.log('stepList: ', this.stepList)
    },
    cloneTemplate({ id }) {
      console.log('(from GitlabCI.vue) cloneTemplate: this.stepList.length', this.stepList.length)
      const result = {
        id: this.stepList.length, // TODO：需要根据实际的stepList的排序来赋值id
        // name: `cat ${id}`
        name: this.stepTplList[id].name,
        displayName: this.stepTplList[id].displayName,
        content: JSON.parse(JSON.stringify(this.stepTplList[id]))
      }
      result.content.id = this.idGlobal++
      return result
    },
    generateYaml() {
      console.log('(from GitlabCI.vue) generate Yaml from JSON stepList: ', this.stepList)
      const intermediateJson = []

      // get the stages
      const stages = this.getListOfStages(this.stepList)
      intermediateJson.push({ 'stages': stages })

      // get the details of each step
      for (let i = 0; i < this.stepList.length; i++) {
        const tmpValue = this.getJsonCIFromStepObject(this.stepList[i])
        const tmp = {}
        tmp[this.stepList[i].name] = tmpValue
        intermediateJson.push(tmp)
      }
      console.log('(from GitlabCI.vue) intermediateJson is: ', intermediateJson)

      // CONVERT the Json into yamls
      const convertResult = yaml.safeDump(intermediateJson, {
        'styles': {
          '!!null': 'canonical'
        },
        'sortKeys': false,
        'lineWidth': -1
      })
      // console.log(convertResult)  // This one has 2 extra non-informic characters at the start of each line

      let finalResult = ''
      convertResult.split(/\r?\n/).forEach(element => {
        finalResult += element.substring(2) + '\n'
      })
      // console.log(finalResult)
      this.finalScript = finalResult
    },
    getJsonCIFromStepObject(step) {
      const result = {}
      const content = step.content
      const entries = Object.entries(content)
      for (const entry of entries) {
        // console.log(entry) // entry[0] is the key; entry[1] is the value
        if (entry[1] !== null) {
          if (this.splitByNewline.includes(entry[0])) {
            // For multi-line text such as ciscript, we need to convert it into an array.
            result[entry[0].substring(2)] = entry[1].split('\n')
          } else if (this.splitByComma.includes(entry[0])) {
            // For comma-separated such as citags, we need to convert it into an array.
            result[entry[0].substring(2)] = entry[1].split(',')
          } else if (this.splitByCommaToRawList.includes(entry[0])) {
            let tmp = '[]'
            if (entry[1].length > 0) {
              tmp = '["' + entry[1].split(',').join('","') + '"]'
            }
            result[entry[0].substring(2)] = tmp
          } else if (this.alreadyListNoSplit.includes(entry[0])) {
            result[entry[0].substring(2)] = entry[1]
          } else if (entry[0].startsWith('ci')) {
            result[entry[0].substring(2)] = entry[1]
          }
        }
      }
      return result
    },
    getListOfStages(stepList) {
      const result = []
      for (let i = 0; i < stepList.length; i++) {
        if (!result.includes(stepList[i].content.cistage) && stepList[i].content.cistage !== undefined) {
          result.push(stepList[i].content.cistage)
        }
      }
      return result
    },
    onCopy(e) {
      console.log('this.stepList is: ', this.stepList)
      this.$notify({
        title: 'Success',
        message: 'Script Copied Successfully',
        type: 'success'
      })
    },
    onError(e) {
      this.$notify({
        title: 'Error',
        message: 'Script Copied Failed. You may still copy it by Ctrl-C Ctrl-V',
        type: 'error'
      })
    },
    propertyAlreadyExistedNotification(propName) {
      this.$notify({
        title: 'Error! Aborting changes!',
        message: propName + ' property alreay exist',
        type: 'error'
      })
    },
    deleteStep(id) {
      // console.log('The whole step is: ', step)
      console.log('Deleting the ' + id + 'th step')
      this.stepList.splice(id, 1)
      // console.log('this.stepList after deletion: ', this.stepList)
    },
    changeName(id) {
      console.log('Trying to change the ' + id + 'th step\'s name')
      this.chosenElementId = id
      this.chosenElement = this.stepList[id]
      this.stepNameDrawer = true
    },
    handleClose(done) {
      // console.log('handleClose() this.chosenElement.name', this.chosenElement.name)
      if (this.chosenElement.name !== 'default' && this.chosenElement.name !== '') {
        this.$confirm('Are you sure to save the step name?')
          .then(_ => {
            // DONE: 更新当前chosenElementId的name
            this.stepList[this.chosenElementId].name = this.chosenElement.name
            this.generateYaml()
            // console.log('this.stepList is: ', this.stepList)
            this.stepNameDrawer = false
            done()
          })
          .catch(_ => {})
      } else {
        this.$message({
          type: 'error',
          message: `invalid step name: ${this.chosenElement.name}`
        })
      }
    }
  }
}
</script>

<style lang="scss" scoped>
</style>
