<template>
  <div>
    <el-row>
      <component
        :is="key"
        v-for="(value, key) in element.content"
        :key="`${key}${element.content.id}`"
        :origindata="value"
        :stepid="element.id"
      />
    </el-row>
    <!-- TODO: Add editable list of term, i.e. users can add or delete steps(retry, image) from the step -->
    <el-row>
      <el-tooltip
        v-for="item in (name === 'default' ? globalComponents : ciComponents)"
        :key="item.name"
        effect="dark"
        placement="bottom"
      >
        <!-- <div slot="content"> {{ item.tooltipContent }} </div> -->
        <div slot="content">
          <a :href="item.docHref" target="_blank">{{ item.tooltipContent }}</a>
        </div>
        <el-button type="primary" :class="item.icon" size="small" @click="addProperty(`${item.name}`)" />
      </el-tooltip>
    </el-row>
    <!-- <el-row>
      <el-tooltip class="item" effect="dark" content="Add script" placement="bottom">
        <el-button type="primary" class="el-icon-monitor" size="small" @click="addProperty('ciscript')" />
      </el-tooltip>
      <el-tooltip class="item" effect="dark" content="Add image" placement="bottom">
        <el-button type="primary" class="el-icon-circle-plus-outline" size="small" @click="addProperty('ciimage')" />
      </el-tooltip>
      <el-tooltip class="item" effect="dark" content="Add tags" placement="bottom">
        <el-button type="primary" class="el-icon-price-tag" size="small" @click="addProperty('citags')" />
      </el-tooltip>
      <el-tooltip class="item" effect="dark" content="Add only" placement="bottom">
        <el-button type="primary" class="el-icon-check" size="small" @click="addProperty('cionly')" />
      </el-tooltip>
      <el-tooltip class="item" effect="dark" content="Add except" placement="bottom">
        <el-button type="primary" class="el-icon-close" size="small" @click="addProperty('ciexcept')" />
      </el-tooltip>
      <el-tooltip class="item" effect="dark" content="Add retry" placement="bottom">
        <el-button type="primary" class="el-icon-refresh-right" size="small" @click="addProperty('ciretry')" />
      </el-tooltip>
      <el-tooltip class="item" effect="dark" content="Add when" placement="bottom">
        <el-button type="primary" class="el-icon-timer" size="small" @click="addProperty('ciwhen')" />
      </el-tooltip>
      <el-tooltip class="item" effect="dark" content="Add needs" placement="bottom">
        <el-button type="primary" class="el-icon-phone" size="small" @click="addProperty('cineeds')" />
      </el-tooltip>
      <el-tooltip class="item" effect="dark" content="Add dependencies" placement="bottom">
        <el-button type="primary" class="el-icon-s-ticket" size="small" @click="addProperty('cidependencies')" />
      </el-tooltip>
    </el-row> -->
  </div>
</template>

<script>
import { myEventBus } from '@/main'

import displayName from './components/displayName.vue'
import id from './components/id.vue'
import name from './components/name.vue'
import cistage from './components/cistage.vue'
import ciimage from './components/ciimage.vue'
import ciscript from './components/ciscript.vue'
import citags from './components/citags.vue'
import cionly from './components/cionly.vue'
import ciexcept from './components/ciexcept.vue'
import ciretry from './components/ciretry.vue'
import ciwhen from './components/ciwhen.vue'
import cineeds from './components/cineeds.vue'
import cidependencies from './components/cidependencies.vue'
import cibefore_script from './components/cibefore_script.vue'
import ciafter_script from './components/ciafter_script.vue'

const ciComponents = [{
  name: 'ciscript',
  icon: 'el-icon-monitor',
  tooltipContent: '(Mandatory)Add script. The shell script executed by the runner',
  docHref: 'https://docs.gitlab.com/ee/ci/yaml/#script'
}, {
  name: 'ciimage',
  icon: 'el-icon-circle-plus-outline',
  tooltipContent: 'Add image. Used to specify a Docker image to use for the job',
  docHref: 'https://docs.gitlab.com/ee/ci/yaml/#image'
}, {
  name: 'citags',
  icon: 'el-icon-price-tag',
  tooltipContent: 'Add tags. Used to specify a runner for the job',
  docHref: 'https://docs.gitlab.com/ee/ci/yaml/#tags'
}, {
  name: 'cionly',
  icon: 'el-icon-check',
  tooltipContent: 'Add only. Defines the names of branches and tags the job runs for',
  docHref: 'https://docs.gitlab.com/ee/ci/yaml/#onlyexcept-basic'
}, {
  name: 'ciexcept',
  icon: 'el-icon-close',
  tooltipContent: 'Add except. Defines the names of branches and tags the job does not run for',
  docHref: 'https://docs.gitlab.com/ee/ci/yaml/#onlyexcept-basic'
}, {
  name: 'ciretry',
  icon: 'el-icon-refresh-right',
  tooltipContent: 'Add retry. How many times a job is going to be retried in case of failure',
  docHref: 'https://docs.gitlab.com/ee/ci/yaml/#retry'
}, {
  name: 'ciwhen',
  icon: 'el-icon-timer',
  tooltipContent: 'Add when.',
  docHref: 'https://docs.gitlab.com/ee/ci/yaml/#when'
}, {
  name: 'cineeds',
  icon: 'el-icon-phone',
  tooltipContent: 'Add needs. Draw your own DAG execution order',
  docHref: 'https://docs.gitlab.com/ee/ci/yaml/#needs'
}, {
  name: 'cidependencies',
  icon: 'el-icon-s-ticket',
  tooltipContent: 'Add dependencies. To fetch artifacts from dependent jobs',
  docHref: 'https://docs.gitlab.com/ee/ci/yaml/#dependencies'
}, {
  name: 'cibefore_script',
  icon: 'el-icon-caret-left',
  tooltipContent: 'Add before_script. Commands run before each job',
  docHref: 'https://docs.gitlab.com/ee/ci/yaml/#before_script-and-after_script'
}, {
  name: 'ciafter_script',
  icon: 'el-icon-caret-right',
  tooltipContent: 'Add after_script. Commands run after each job',
  docHref: 'https://docs.gitlab.com/ee/ci/yaml/#before_script-and-after_script'
}]

const globalAllowComponents = ['ciimage', 'ciservices', 'cibefore_script', 'ciafter_script', 'citags', 'cicache', 'ciartifacts', 'ciretry', 'citimeout', 'ciinterruptible']
const globalComponents = ciComponents.filter((ciComponent) => {
  return globalAllowComponents.includes(ciComponent.name)
})

export default {
  components: {
    'displayName': displayName,
    'id': id,
    'name': name,
    'cistage': cistage,
    'ciimage': ciimage,
    'ciscript': ciscript,
    'citags': citags,
    'cionly': cionly,
    'ciexcept': ciexcept,
    'ciretry': ciretry,
    'ciwhen': ciwhen,
    'cineeds': cineeds,
    'cidependencies': cidependencies,
    'cibefore_script': cibefore_script,
    'ciafter_script': ciafter_script
  },
  props: {
    name: {
      type: String,
      default: 'Default prop from child'
    },
    element: {
      type: Object,
      default() {
        return {
          name: 'defaultName',
          content: {
            ciname: 'No content'
          }
        }
      }
    }
  },
  data() {
    return {
      ciComponents,
      globalComponents
    }
  },
  created() {
    // myEventBus.$on([
    //   'citagsUpdated'
    // ], (newValue) => {
    //   console.log('(StepCI)(from eventBus)value to be changed is:', newValue)
    //   this.element.content.citags = newValue
    // })
    // console.log('(from StepCi.vue)name is: ', this.name)
    // console.log('(from StepCi.vue)element is: ', this.element)
    // console.log('(from StepCi.vue)globalComponents is: ', this.globalComponents)
  },
  updated() {
    // console.log('(from StepCI)Data is updated. element is: ', this.element)
    // this.loopThruStepObject(this.element)
  },
  methods: {
    loopThruStepObject(step) {
      const content = step.content
      const entries = Object.entries(content)
      console.log('The entries for the step ' + step.name + ' is: ')
      for (const entry of entries) {
        console.log(entry) // entry[0] is the key; entry[1] is the value
      }
    },
    addProperty(propertyName) {
      myEventBus.$emit('childDataCreate', propertyName, this.element.id)
    }
  }
}
</script>

<style lang="scss" scoped>
a {
  text-decoration: underline;
}

</style>
