<template>
  <div>
    <h5 id="bloc1" class="inline">Dependencies</h5>
    <el-row>
      <el-col :span="21">
        <el-select
          id="bloc2"
          v-model="newdata"
          multiple
          placeholder="dependencies"
          class="inline"
          @change="handleValue"
          @focus="handleFocused"
        >
          <el-option
            v-for="item in options"
            :key="item.value"
            :label="item.label"
            :value="item.value"
          />
        </el-select>
      </el-col>
      <el-col :span="3">
        <el-button type="danger" class="el-icon-delete" @click="deleteValue" />
      </el-col>
    </el-row>
  </div>
</template>

<script>
import { myEventBus } from '@/main'

export default {
  props: {
    origindata: {
      type: Array,
      default: function() {
        return ['build', 'test']
      }
    },
    stepid: {
      type: Number,
      default: 0
    }
  },
  data() {
    return {
      newdata: this.origindata,
      options: [{
        value: 'build',
        label: 'build'
      }, {
        value: 'test',
        label: 'test'
      }]
    }
  },
  methods: {
    handleFocused(e) {
      myEventBus.$emit('childEditFocused')
    },
    handleValue(value) {
      this.newdata = value
      console.log('this.newdata: ', this.newdata)
      myEventBus.$emit('childDataUpdate', 'cidependencies', this.stepid, this.newdata)
    },
    deleteValue(e) {
      myEventBus.$emit('childDataDelete', 'cidependencies', this.stepid)
    }
  }
}
</script>

<style lang="scss" scoped>
.inline {
  display: inline;
}

#bloc1 {
  width: 30%;
}

#bloc2 {
  width: 70%;
}

.idt-multiple-select {
  .el-tag {
    height: auto;
    max-width: 100%;
  }
  .el-tag--info {
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
  }
}
</style>
