<template>
  <div>
    <h5 id="bloc1" class="inline">Except</h5>
    <el-row>
      <el-col :span="21">
        <el-input
          id="bloc2"
          v-model="newdata"
          class="inline"
          placeholder="Run on which branches except"
          @blur="handleValue"
          @focus="handleFocused"
        />
      </el-col>
      <el-col :span="3">
        <el-button type="danger" class="el-icon-delete" @click="deleteValue" />
      </el-col>
    </el-row>
  </div>
</template>

<script>
import { myEventBus } from '@/main'

export default {
  props: {
    origindata: {
      type: String,
      default: 'Except'
    },
    stepid: {
      type: Number,
      default: 0
    }
  },
  data() {
    return {
      newdata: this.origindata
    }
  },
  methods: {
    handleFocused(e) {
      myEventBus.$emit('childEditFocused')
    },
    handleValue(e) {
      myEventBus.$emit('childDataUpdate', 'ciexcept', this.stepid, this.newdata)
    },
    deleteValue(e) {
      myEventBus.$emit('childDataDelete', 'ciexcept', this.stepid)
    }
  }
}
</script>

<style lang="scss" scoped>
.inline {
  display: inline;
}

#bloc1 {
  width: 30%;
}

#bloc2 {
  width: 70%;
}
</style>
