<template>
  <div>
    <h5 id="bloc1" class="inline">Image</h5>
    <el-row>
      <el-col :span="21">
        <el-input
          id="bloc2"
          v-model="newdata"
          class="inline"
          placeholder="Input docker image"
          @blur="handleValue"
          @focus="handleFocused"
        />
      </el-col>
      <el-col :span="3">
        <el-button type="danger" class="el-icon-delete" @click="deleteValue" />
      </el-col>
    </el-row>
  </div>
</template>

<script>
import { myEventBus } from '@/main'

export default {
  props: {
    origindata: {
      type: String,
      default: 'Image'
    },
    stepid: {
      type: Number,
      default: 0
    }
  },
  data() {
    return {
      newdata: this.origindata
    }
  },
  watch: {
    stepid() {
      console.log('(from ciimage)stepid is updated to: ', this.stepid)
    }
  },
  methods: {
    handleFocused(e) {
      myEventBus.$emit('childEditFocused')
    },
    handleValue(e) {
      myEventBus.$emit('childDataUpdate', 'ciimage', this.stepid, this.newdata)
    },
    deleteValue(e) {
      myEventBus.$emit('childDataDelete', 'ciimage', this.stepid)
    }
  }
}
</script>

<style lang="scss" scoped>
.inline {
  display: inline;
  vertical-align: middle;
}

#bloc1 {
  width: 30%;
}

#bloc2 {
  width: 70%;
}
</style>
