<template>
  <div>
    <h5 id="bloc1" class="inline">Script</h5>
    <el-row>
      <el-col :span="21">
        <el-input
          id="bloc2"
          v-model="newdata"
          type="textarea"
          class="inline"
          @blur="handleValue"
          @focus="handleFocused"
        />
      </el-col>
      <el-col :span="3">
        <el-button type="danger" class="el-icon-delete" @click="deleteValue" />
      </el-col>
    </el-row>
  </div>
</template>

<script>
import { myEventBus } from '@/main'

export default {
  props: {
    origindata: {
      type: String,
      default: 'Script'
    },
    stepid: {
      type: Number,
      default: 0
    }
  },
  data() {
    return {
      newdata: this.origindata
    }
  },
  methods: {
    handleFocused(e) {
      myEventBus.$emit('childEditFocused')
    },
    handleValue(e) {
      this.newdata = this.newdata.replace(/^\s*\n/gm, '') // replace all newline except last
      this.newdata = this.newdata.replace(/\n$/, '') // replace last new line
      console.log('(from ciscript.vue)this.newdata: ', this.newdata)
      myEventBus.$emit('childDataUpdate', 'ciscript', this.stepid, this.newdata)
    },
    deleteValue(e) {
      myEventBus.$emit('childDataDelete', 'ciscript', this.stepid)
    }
  }
}
</script>

<style lang="scss" scoped>
.inline {
  display: inline;
}

#bloc1 {
  width: 30%;
}

#bloc2 {
  width: 70%;
}
</style>
