<template>
  <div>
    <h5 id="bloc1" class="inline">When</h5>
    <el-row>
      <el-col :span="21">
        <el-select
          id="bloc2"
          v-model="newdata"
          placeholder="When"
          class="inline"
          @change="handleValue"
          @focus="handleFocused"
        >
          <el-option
            v-for="item in options"
            :key="item.value"
            :label="item.label"
            :value="item.value"
          />
        </el-select>
      </el-col>
      <el-col :span="3">
        <el-button type="danger" class="el-icon-delete" @click="deleteValue" />
      </el-col>
    </el-row>
  </div>
</template>

<script>
import { myEventBus } from '@/main'

export default {
  props: {
    origindata: {
      type: String,
      default: 'on_success'
    },
    stepid: {
      type: Number,
      default: 0
    }
  },
  data() {
    return {
      newdata: this.origindata,
      options: [{
        value: 'on_success',
        label: 'on_success'
      }, {
        value: 'on_failure',
        label: 'on_failure'
      }, {
        value: 'always',
        label: 'always'
      }, {
        value: 'manual',
        label: 'manual'
      }, {
        value: 'delayed',
        label: 'delayed'
      }, {
        value: 'never',
        label: 'never'
      }]
    }
  },
  methods: {
    handleFocused(e) {
      myEventBus.$emit('childEditFocused')
    },
    handleValue(value) {
      this.newdata = value
      myEventBus.$emit('childDataUpdate', 'ciwhen', this.stepid, this.newdata)
    },
    deleteValue(e) {
      myEventBus.$emit('childDataDelete', 'ciwhen', this.stepid)
    }
  }
}
</script>

<style lang="scss" scoped>
.inline {
  display: inline;
}

#bloc1 {
  width: 30%;
}

#bloc2 {
  width: 70%;
}
</style>
