<template>
  <div>
    <!-- <h3>{{ data }}</h3> -->
  </div>
</template>

<script>
export default {
  props: {
    origindata: {
      type: String,
      default: 'DisplayName'
    }
  },
  data() {
    return {
      newdata: this.origindata
    }
  }
}
</script>

<style lang="scss" scoped>
.inline {
  display: inline;
}

#bloc2 {
  width: 70%;
}
</style>
