<template>
  <div>

  </div>
</template>

<script>
export default {
  props: {
    origindata: {
      type: Number,
      default: 1
    }
  },
  data() {
    return {
      newdata: this.origindata
    }
  }
}
</script>

<style lang="scss" scoped>
.inline {
  display: inline;
}

#bloc2 {
  width: 70%;
}
</style>
