<template>
  <div>
    <!-- <h5 id="bloc1" class="inline">步骤名称</h5>
    <el-input
      id="bloc2"
      v-model="newdata"
      class="inline"
      placeholder="步骤名称"
    /> -->
  </div>
</template>

<script>
export default {
  props: {
    data: {
      type: String,
      default: 'Name'
    }
  },
  data() {
    return {
      newdata: this.origindata
    }
  }
}
</script>

<style lang="scss" scoped>
.inline {
  display: inline;
}

#bloc1 {
  width: 30%;
}

#bloc2 {
  width: 70%;
}
</style>
